body {
  margin: 0;
  padding: 0;
  background-color: #493657;
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* game scene and buttons */
#game-scene {
    width: 100%;
    position: relative;
    z-index: 9;
}

.table {
    background-color: #210B2C;
    z-index: 10;
    width: 100%;
    position: fixed;
    height: 100%;
}

#reset,
#begin-game {
  color: #B8B8D1;
  background: transparent;
  border: 3px solid;
	border-radius: 8px;
	padding: 25px;
	z-index: 200;
	cursor: pointer;
  font-size: 25px;
  transition: .15s;
  font-family: "Montserrat", sans-serif;
  text-transform:uppercase;
  letter-spacing:2;
}

#begin-game {
    position: absolute;
    width: 200px;
  	left: 0;
  	right: 0;
  	margin: 0 auto;
    padding: 25px;
  	top: 250px;
}
#reset {
  display:none;
  padding: 15px 25px;
  margin:25px auto;
}
#begin-game:hover,
#reset:hover {
  transform:scale(1.05,1.05);
}
/* board and pieces */
#game-board {
	position: relative;
	width: 548px;
	margin: 0 auto;
	border: 8px solid #7D7ABC;
	height: 472px;
	border-radius: 7px;
	float: left;
    z-index: 15;
    box-sizing: border-box;
}

#game-board-underlay {
    position: absolute;
	width: 548px;
	height: 472px;
    box-sizing: border-box;
	margin: 0 auto;
    left: 0;
    right: 0;
    border: 16px solid transparent;
}

#play-area {
    margin: 0 auto;
    width: 750px;
    margin-top: 125px;
    opacity:0;
}

.checker {
    width: 60px;
    height: 60px;
	transform: scale(1.1);
	transform-origin: center;
    border-radius: 100%;
    position: absolute;
    top: -50px;
}

circle {
    stroke-width: 16px;
}


/* game board stand details */
.stand-container {
    float: left;
    width: 100px;
    margin-top: 150px;
    position: relative;
}

.stand-container.left {
    left: 27.5px;
}

.stand-container.right {
    right: 27.5px;
}

.stand-leg {
    width: 20px;
    height: 350px;
    margin: 0 auto;
    background-color: #7D7ABC;
    border-radius: 5px 5px 0px 0px;
}

.stand-attachment {
    width: 15px;
    height: 20px;
    background-color: #7D7ABC;
    position: absolute;
    top: 15px;
}

.stand-attachment.left {
    left: 58px;
}

.stand-attachment.right {
    right: 58px;
}

.stand-foot {
    width: 100%;
    background-color: #7D7ABC;
    height: 20px;
    border-radius: 8px 8px 0px 0px;
    top: 350px;
}


/* message contents */

#title {
  position:absolute;
  width:100%;
  top: 25px;
  font-family: 'Satisfy', 'Montserrat', sans-serif;
  font-weight:normal;
  font-size:4em;
  text-align:center;
  color: #B8B8D1;
  transition:1s;
}

#title.smaller {
  font-size: 2.25em;
  top: 0;
  margin-top: 15px;
}
#game-over {
	display: none;
	position: absolute;
	z-index: 100;
	top: -40px;
	left: 0;
	right: 0;
}
